# files in the root dir
/*
!/*/
!/.gitignore

# a specific file
/libiconv/libiconv/libiconv.aps

# files in any dir
/**/*.opensdf
/**/*.sdf
/**/*.vcxproj.user
/**/*.v12.suo

# always ignore stuff in bin and tmp
/bin/
/tmp/
